<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Ex 2 - Data Science Tools and Ecosystem

Ex 3 - Markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Ex 10 - Markdown cell to list Objectives

**Objectives:**
+ List popular languages for Data Science
+ List popular libraries for Data Science
+ Create table of Data Science tools
+ Introduce arithmetic expressions
+ Create markdown cells to show Author's name

Ex 4 - Data Science Languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Ex 5 - Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:
1. Scikit
2. Caffe
3. TensorFlow

Ex 6 - Data Science Tools

| Data Science Tools | 
| ----------| 
| Apache Spark |
| TensorFlow |
| Tableau |

Ex 7 - Introduction to arithmetic expression

### Below are a few examples of evaluating arithmetic expressions in Python:

Addition Operation

2+4

Multiplication Operation

2*4

In [28]:
"Ex 8 - Code cell to multiply and add numbers"

"This a simple arithmetic expression to mutiply then add integers"

(3*4)+5

17

In [29]:
"Ex 9 - Code cell to convert minutes to hours"
"This will convert 200 minutes to hours by diving by 60"
200 / 60

3.3333333333333335

Ex 11 - Markdown cell to indicate the Author's name

## Author

Kushan Singh